[data-testid="stSidebar"] {
    background-image: url(https://javier.rodriguez.org.mx/itesm/2014/tecnologico-de-monterrey-white.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 4px 20px;
}